:root {
    --tab : #e9e9e9;
    --nav: #F1F5F9;
    --page-fill: #dddddd;
    --text-color: #000000;
    --acc-color: #000000;
    --box-shadow: #02020270;

    --footer-color: #191919;
    --accent-color: #1382dd;

    --trans-dur: 0.3s;
}
.darkmode {
    --tab: #1B1B1B;
    --nav: #0F0F0F;
    --page-fill: #242424;
    --text-color: #dadadaf3;
    --acc-color: #FFFFFF;
    --box-shadow: #00000080;
}

/* global rules ============================ */
html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    transition: color var(--trans-dur), background-color var(--trans-dur);
}
h2, h3,
p,
main span,
button, 
a,
.page-section {
    color: var(--text-color);
    transition: color var(--trans-dur), background-color var(--trans-dur);
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--tab);
    position: relative;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1400px;
    }
}

.box-shadow {
    box-shadow: var(--box-shadow) 0 0px 6px;
    -webkit-box-shadow: var(--box-shadow) 0 0px 6px;
    -moz-box-shadow: var(--box-shadow) 0 0px 6px;
}

/* header & nav ============================ */
header, nav {
    width: 100%;
    background-color: var(--nav);
}

header {
    z-index: 8;
    position: relative;
}

header .container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    padding: 10px 0px;
    padding-right: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 193, 37);
    margin-right: auto;
    letter-spacing: 2px;
    text-shadow: #000000 1px 1px 2px;
}
.darkmode .logo {
    text-shadow: none;
}

/* toggle menu ============================ */
.toggle-menu {
    font-size: 40px;
    padding: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: color 0s;
    color: var(--text-color);
}
.toggle-menu.active  {
    color: var(--accent-color);
}
@media (hover: hover) {
    .toggle-menu:hover,
    .toggle-menu:active {
        color: var(--accent-color);
    }
}
@media (min-width: 768px) {
    header .toggle-menu {
        display: none;
    }
}

/* theme switch  ============================*/
header .right-nav {
    display: flex;
    align-items: center;
    z-index: 1;
}

#theme-switch {
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: #f0e7e7;
    color: var(--text-color);
    cursor: pointer;
}
.darkmode #theme-switch {
    background-color: #202020;
}

#theme-switch::before {
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    border-radius: inherit;
    background-color: #202020;
    z-index: -1;
}
.darkmode #theme-switch::before {
    background-color: #f0e7e7;
}

#theme-switch ion-icon:last-child {
    display: none;
}
.darkmode #theme-switch ion-icon:first-child {
    display: none;
}
.darkmode #theme-switch ion-icon:last-child {
    display: initial;
}

/* nav =========================================== */
nav {
    position: sticky;
    top: -1px;
    z-index: 9;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 8px;
}
nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    nav {
        display: none;
    }
    nav ul {
        flex-direction: column;
        gap: 6px;
    }
    nav a {
        width: 100%;
    }
}
nav.show {
    display: block;
}

nav a {
    padding: 10px 14px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav a::before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width var(--trans-dur), background-color var(--trans-dur);
    background-color: var(--acc-color);
}

nav a.active {
    color: var(--accent-color);
}
nav a.active::before {
    background-color: var(--accent-color);
    width: 100%;
}
@media (hover: hover) {
    nav a:active {
        color: var(--accent-color);
    }
    nav a:active::before {
        background-color: var(--accent-color);
    }
    nav a:hover::before {
        width: 100%;
    }
}

/* main ============================ */
main {
    width: 100%;
    position: relative;
}
main .container {
    display: grid;
    grid-template-columns: min-content 1fr;
}
@media (max-width: 767px) {
    main .container {
        grid-template-columns: 0 1fr;
    }
}

/* left nav ============================ */
.left-nav {
    position: sticky;
    top: 36px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    z-index: 7;
}
.left-nav .left-nav-ul {
    padding: 12px;
    height: calc(100vh - 37px);
    width: 180px;
    background-color: var(--page-fill);
    transition: margin-left var(--trans-dur), background-color var(--trans-dur);
}
@media (max-width: 767px) {
    .left-nav {
        top: -1px;
    }
    .left-nav .left-nav-ul {
        height: calc(100vh + 1px);
        margin-left: -200px;
    }
}
.left-nav .left-nav-ul.show {
    margin-left: 0;
}

.left-nav .nav-toggle {
    display: inline-block;
    width: fit-content;
    height: 32px;
    padding: 8px;
    margin-top: 16px;
    margin-left: 4px;
    background-color: var(--accent-color);
}
@media (min-width: 767px) {
    .left-nav .nav-toggle {
        display: none;
    }
}
.left-nav .nav-toggle ion-icon:last-child {
    display: none;
}
.left-nav .nav-toggle.active ion-icon:last-child {
    display: block;
}
.left-nav .nav-toggle.active ion-icon:first-child {
    display: none;
}

.left-nav li {
    margin-bottom: 6px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}
.left-nav li:has(> a.active) {
    background-color: #d3d3d3;
}
.darkmode .left-nav li:has(> a.active) {
    background-color: #2e2e2e;
}

.left-nav a {
    letter-spacing: 1px;
    padding: 4px 0 4px 12px;
    width: 100%;
}
.left-nav a::before {
    content: '';
    width: 2px;
    height:0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: height var(--trans-dur), background-color var(--trans-dur);
    background-color: var(--acc-color);
}
.left-nav a.active {
    color: var(--accent-color);
    font-weight: 500;
}
.left-nav a.active::before {
    background-color: var(--accent-color);
    height: 100%;
}
@media (hover: hover) {
    .left-nav a:active {
        color: var(--accent-color);
    }
    .left-nav a:active::before {
        background-color: var(--accent-color);
    }
    .left-nav a:hover::before {
        height: 100%;
    }

    .left-nav li:has(> a:hover) {
        background-color: #d3d3d3;
    }
    .darkmode .left-nav li:has(> a:hover) {
        background-color: #2e2e2e;
    }
}

/* top-page-button ============================ */
.top-page {
    z-index: 9;
    position: fixed;
    bottom: 20px;
    right: -40px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--left-nav);
    color: var(--acc-color);
    font-size: 18px;
    padding-left: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--trans-dur);
}
.top-page.show {
    right: 20px;
}

/* footer ============================ */
footer {
    width: 100%;
    background-color: var(--footer-color);
    color: #dadadaf3;
    position: relative;
}
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .logo {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    text-align: center;
    width: 290px;
    font-size: 24px;
}

footer ul {
    display: flex;
    gap: 10px;
    padding-bottom: 12px;
    font-size: 22px;
}

footer ul a {
    background-color: #FFFFFF;
    color: black;
    padding: 8px;
    display: flex;
    border-radius: 8px;
}

footer .credits {
    padding-top: 6px;
    padding-bottom: 20px;
    font-weight: 500;
}
footer .credits a {
    color: rgb(255, 196, 0);
    padding: 0 8px;
    letter-spacing: 2px;
    font-weight: 600;
} 

@media (hover: hover) {
    footer ul a:hover ion-icon {
        color: var(--c);
    }
    footer .credits a:active,
    footer .credits a:hover {
    color: rgb(255, 229, 145);
}
}

/* section ============================ */
.page-section {
    background-color: var(--page-fill);
    margin-left: 0px;
    padding: 30px;
}
.page-section .thum {
    width: calc(100% + 60px);
    margin: -30px -30px 30px;
    height: 180px;
    background-image: url(../assets/imgs/thum3.png) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 425px) {
    .page-section.thum {
        display: none;
    }
}

.page-content {
    position: relative;
}

.section-heading {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--page-fill);
    padding: 8px 20px;
    position: absolute;
    top: -60px;
    margin-bottom: 20px;
    text-shadow: var(--box-shadow) 0px 0px 4px;
}

.page-section p,
.page-section span {
    line-height: 1.4;
    font-size: 17px;
    letter-spacing: 0.1px;
}

.page-section a {
    color: rgb(16, 68, 209);
    letter-spacing: 1px;
    font-weight: 500;
}
@media (hover: hover) {
    .page-section a:active,
    .page-section a:hover {
        color: rgb(75, 117, 233);
    }
    .quick-link a:hover {
        color: #414141;
    }
}

.quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
}
.quick-link li {
    display: flex;
    justify-content: start;
    align-items: center;
}
.quick-link a {
    background-color: white;
    color: var(--c);
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}
@media (max-width: 566px) {
    .quick-link a {
        width: 100%;
    }
}
.quick-link ion-icon {
    transition: color 0s;
    margin-right: 10px;
}

.page-section h3 {
    text-transform: uppercase;
    font-weight: 600;
}