<div class="item-view">
  <div class="close"><button class="box-shadow">X</button></div>

  <div class="item-details box-shadow">
    <div class="top">
      <div class="icon-frame">
        <img src="https://placehold.co/160/black/white/png?text=Icon" alt="" class="render" />
      </div>

      <h2 class="item-name">ItemName</h2>

      <div class="item-data items active">
        <div>
          <p item-data="level"><b>Level</b><br /><span></span></p>
          <p item-data="rarity"><b>Rarity</b><br /><span></span></p>
          <p item-data="value"><b>Damage</b><br /><span></span></p>
        </div>
        <div>
          <p item-data="class"><b>Class</b><br /><span></span></p>
          <p item-data="universe"><b>Universe</b><br /><span></span></p>
          <p item-data="drop"><b>Cost / Drop</b><br /><span></span></p>
        </div>
      </div>

      <div class="item-data mobs">
        <div>
          <p item-data="level"><b>Level</b><br /><span></span></p>
          <p item-data="xp"><b>XP</b><br /><span></span></p>
          <p item-data="roils"><b>Roils</b><br /><span></span></p>
          <p item-data="spawntime"><b>Spawn Time</b><br /><span></span></p>
        </div>
        <div>
          <p item-data="health"><b>Health</b><br /><span></span></p>
          <p item-data="damage"><b>Damage</b><br /><span></span></p>
          <p item-data="universe"><b>Universe</b><br /><span></span></p>
        </div>
        <div>
          <p item-data="drops"><b>Drops</b><br /><span></span></p>
        </div>
      </div>
    </div>

    <div class="description-label">
      <h3 class="description">Description</h3>
      <p class="text"></p>
    </div>
  </div>
</div>
