<div class="message box-shadow">
  <button class="msg-toggle box-shadow">
    <ion-icon name="caret-forward" class="icon"></ion-icon>
  </button>

  <div class="msg-header">
    <div class="profile-pic">
      <img src="" alt="" onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';" />
      <span class="alt-text"></span>
    </div>
    <span class="sender"></span>
    <div class="date">
      <time datetime=""></time>
    </div>
  </div>

  <h3 class="msg-title">
    <div class="title-1"></div>
    <div class="title-2"></div>
  </h3>

  <p class="message-label top"></p>

  <ul class="update-notes">
    <h3></h3>
    <li class="sub-list" style="--c: #00af0d">
      <h4></h4>
      <ul></ul>
    </li>
    <li class="sub-list" style="--c: #045dc2">
      <h4></h4>
      <ul></ul>
    </li>
    <li class="sub-list" style="--c: #ff4900">
      <h4></h4>
      <ul></ul>
    </li>
  </ul>

  <div class="image-slider">
    <div class="list"></div>

    <div class="buttons">
      <button id="prev" class="box-shadow">&lt;</button>
      <button id="next" class="box-shadow">&gt;</button>
    </div>

    <ul class="dots"></ul>
  </div>

  <p class="message-label bottom"></p>
</div>
