.database .buttons {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}
.database .buttons::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--acc-color);
}

.database .buttons button {
    padding: 8px 12px;
    border: none;
    background: none;
    line-height: 1.3;
    font-weight: 500;
    transition: color var(--trans-dur);
    position: relative;
    z-index: 1;
}
.database .buttons button.active {
    color: var(--accent-color);
}

.database .buttons button::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    width: 0;
    height: 2px;
    transition: width var(--trans-dur);
}
.database .buttons button.active::after {
    width: 100%;
}
@media (max-width: 472px) {
    .database .buttons {
        width: 100%;
        flex-wrap: wrap;
    }
}
@media (hover: hover) {
    .database .buttons button:hover {
        color: var(--accent-color);
    }
    .database .buttons button:hover::after {
        width: 100%;
    }
}

.database .section {
    padding: 14px 0;
}

/* database content */
.database .content {
    /* overflow: hidden; */
    position: relative;
}

/* database images */
.database .img-preview {
    float: right;
    margin-left: 10px; 
    /* max-width: 160px; */
}

.database .img-preview img {
    width: 100%;
    height: auto; 
    border-radius: 6px;
}
@media screen and (max-width: 769px) { 
    .database .img-preview img {
        max-width: 100px;
    }
}

/* items list */
.items-list {
    width: 100%;
    box-shadow: none;
    margin: 0 6px;
}

/* itemlist first column */
.items-list tr th:first-child,
.items-list tr td:first-child {
    text-align: left;
    position: sticky;
    left: 0px;
    z-index: 2;
}
.items-list tr th:first-child::after,
.items-list tr td:first-child::after {
    content: '';
    position: absolute;
    right: -2px;
    top: 0;
    width: 2px;
    height: calc(100% + 2px);
    background-color: var(--nav);
}

.name-wrapper {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
}
.item-render {
    width: 26px;
    height: 26px;
    margin-left: 4px;
    margin-right: 6px;
}
.item-link {
    background: none;
    border: none;
    color: var(--accent-color);
    transition: color var(--trans-dur);
    cursor: pointer;
}
@media (hover: hover) {
    .item-link:hover {
        color: rgb(1, 214, 221);
    }
}


.items-list [floor] {
    display: none;
}
.items-list .floor-active {
    display: table-row;
}


/* item view */
.item-view {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.377);

    z-index: 10;
    display: none;
}

.item-view .item-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 60%;
    background-color: var(--tab);
    border-radius: 8px;
    overflow-x: auto;
    padding-bottom: 10px;
    z-index: 2;
}
@media (min-width: 512px) {
    .item-view .item-details {
        width: 500px;
    }
}
@media (min-width: 768px) {
    .item-view .item-details {
        width: 600px;
    }
}
@media (min-width: 1200px) {
    .item-view .item-details {
        width: 700px;
    }
}

.item-view .item-details .top {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content 1fr;
    width: 100%;
    max-width: 100%;
}

.item-view .item-details .icon-frame {
    width: 160px;
    height: 160px;
    margin: 16px;
    margin-bottom: 0;
    border-radius: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
    grid-column: 1;
}
.item-view .item-details .icon-frame .render {
    margin: 6px;
    width: 100%;
    height: calc(100% - 12px);
    border-radius: 10px;
}

.item-view .item-details .item-name {
    display: flex;
    align-items: center;
    height: min-content;
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    word-break: break-all;
}

.item-view .item-details .item-data {
    display: none;
    grid-template-columns: repeat(2, 1fr);
}
.item-view .item-details .item-data.active {
    display: grid;
}

.item-view .item-details .item-data p {
    margin-bottom: 6px;
    font-size: 18px;
    text-wrap: wrap;
}
.item-view .item-details .item-data p b {
    color: var(--accent-color);
}

.item-view .item-details .item-data.mobs div:last-of-type {
    grid-column: 1/3;
}
@media (max-width: 512px) {
    .item-view .item-details {
        height: 80%;
        border-radius: 0px;
    }
    
    .item-view .item-details .top {
        grid-template-columns: 100%;
        justify-items: center;
    }
    .item-view .item-details .icon-frame {
        width: 100px;
        height: 100px;
    }
    .item-view .item-details .item-name {
        padding: 0 10px;
    }
    .item-view .item-details .item-data  {
        grid-template-columns: repeat(2, 80%);
        justify-content: center;
        padding: 0 10px;
        text-align: center;
    }  

}

.item-view .item-details .description-label {
    padding: 10px 20px;
    line-height: 1.4;
}

.item-view .close {
    position: absolute;
    right: 1%;
    top: 1%;
    display: none;
    justify-content: center;
    z-index: 3;
}
@media (max-width: 512px) {
    .item-view .close {
        display: flex;
    }
}

.item-view .close button {
    width: 40px;
    height: 40px;
    border: none;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    font-family: 'Kanit';
    border-radius: 14px 4px;
    line-height: 1.9;
    transition: background-color var(--trans-dur);
}
.darkmode .item-view .close button {
    color: #000000;
}
@media (hover: hover) { 
    .item-view .close button:hover {
        background-color: rgb(231, 0, 0);
    }
}

.icon-frame[rarity="common"] {
    background-color: var(--common);
}
.icon-frame[rarity="uncommon"] {
    background-color: var(--uncommon);
}
.icon-frame[rarity="rare"] {
    background-color: var(--rare);
}
.icon-frame[rarity="legendary"] {
    background-color: var(--legendary);
}
.icon-frame[rarity="royal"] {
    background-color: var(--royal);
}

.icon-frame[rarity="common"] img {
    background-color: var(--commonInner);
}
.icon-frame[rarity="uncommon"] img {
    background-color: var(--uncommonInner);
}
.icon-frame[rarity="rare"] img {
    background-color: var(--rareInner);
}
.icon-frame[rarity="legendary"] img {
    background-color: var(--legendaryInner);
}
.icon-frame[rarity="royal"] img {
    background-color: var(--royalInner);
}