.table-holder {
  width: fit-content;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  display: flex;
  justify-content: left;
  margin: 20px 0;

  overflow: auto;
}

.table-holder::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
@media (max-width: 492px) {
  .table-holder {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .table-holder {
    width: 500px;
  }
  /* .table-holder:has(.items-list) {
    width: 100%;
  } */
}
@media (min-width: 992px) {
  .table-holder {
    width: 760px;
  }
}
@media (min-width: 1200px) {
  .table-holder {
    width: 900px;
  }
}
@media (min-width: 1440px) {
  .table-holder {
    width: 100%;
  }
}

table {
  min-width: max-content;
  width: fit-content;
  text-align: center;
  border-spacing: 2px;
  margin: 6px;

  --outer-corners: 6px;
  --inner-corners: 6px;

  border-radius: var(--outer-corners);
}
@media (max-width: 492px) {
  table {
    margin: auto auto;
  }
}

table thead {
  text-transform: uppercase;
  position: sticky;
  top: 0px;
  z-index: 3;
}

table th,
table td {
  padding: 6px 12px;
  line-height: 1.3;
}
@media (max-width: 600px) {
  table th,
  table td {
    padding: 8px;
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  table td button {
    font-size: 12px;
  }
  table tr td:first-child img {
    display: none;
  }
}

/* coloring the cells */
table thead th {
  background-color: var(--nav);
}

table tbody tr th,
table tbody tr td {
  background-color: #d3d0d0;
}
table tbody tr:nth-child(even) th,
table tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}
.darkmode table tbody tr th,
.darkmode table tbody tr td {
  background-color: #332e2e;
}
.darkmode table tbody tr:nth-child(even) th,
.darkmode table tbody tr:nth-child(even) td {
  background-color: #1f1e1e;
}

/* cells corners */
table thead th:first-child {
  border-top-left-radius: var(--inner-corners);
}
table thead th:last-child {
  border-top-right-radius: var(--inner-corners);
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--inner-corners);
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--inner-corners);
}
